<!--body-->
<div id="body" onchange="myFunction()" style="margin:0 auto; padding-left:230px; padding-right:230px; color:gray;">
    <div>
        <table style="width:66.5%; float:right">
            <tr style="background:whitesmoke; text-align:left"><td>
                <h4 style="padding-left:20px; width:200px; float:left">Name:</h4>
                <h4 style="text-align:left;">Athar Ahmad</h4>
            </td></tr>
        for (var i = 0; i < 3; i++) {
            <tr style="text-align:left"><td>
                <h4 style="padding-left:20px; width:200px; float:left">Address:</h4>
                <h4 style="text-align:left;">Athar Ahmad</h4>
            </td></tr>
            <tr style="background:whitesmoke; text-align:left"><td>
                <h4 style="padding-left:20px; width:200px; float:left">Designation:</h4>
                <h4 style="text-align:left;">The Designer</h4>
            </td></tr>
        }
        </table>
        <div id="main0" class="jumbotron" style="width:32%; height:288px; background:url(../images/slide0.jpg)no-repeat; background-position:center; background-size:cover;">
            <div style="float:right; padding-top:170px;"><a class="btn btn-primary btn-lg">Edit</a></div>
        </div>
        <div class="bs-docs-section">
            <div class="page-header">
                <h1>Fellows</h1>
            </div>
            <h4 id="thumbnails-default">[ A - M ]</h4>
        for (var r = 1; r <= 3; r++) {
            <div style="height:150px;">
                <a href="javascript:;" style="padding-top:90px; text-decoration: none; float:left; width:15.5%; height:130px; background: url('../images/6.jpg ') no-repeat; background-position:center; background-size:cover;">
                    <h4 id="tb" + classId + "_tile0" style="color:black; background-color:white; height:25px; opacity:.7; text-align:center;">Athar Ahmad Ch</h4>
                </a>
            for (var fellowNo = 1; fellowNo <= 5; fellowNo++) {
                <h1 style="float:left; width:1.4%;"></h1>
                <a href="javascript:;" style="padding-top:90px; text-decoration: none; float:left;  width:15.5%; height:130px; background: url('../images/" + fellowNo + ".jpg ') no-repeat; background-position:center; background-size:cover;">
                    <h4 id="tb" + classId + "_tile" + fellowNo + "" style="color:black; background-color:white; height:25px; opacity:.7; text-align:center;">Athar Ahmad</h4>
                </a>
            }
            </div>
        }
        </div>
    </div>
</div>