
<!--body-->
<div id="body" onchange="myFunction()" style="margin:0 auto; padding-left:230px; padding-right:230px; color:gray;">
    <!-- Jumpbroton -->
    <ul class="images">
        <li><div id="main0" class="jumbotron" style="background:url(~/images/slide0.jpg); background-position:center; background-size:cover;">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div></li>
        <li><div id="main1" class="jumbotron" style="background:url(~/images/slide1.jpg); background-position:center; background-size:cover;">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div></li>
            <li><div id="main2" class="jumbotron" style="background:url(~/images/slide2.jpg); background-position:center; background-size:cover;">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div></li>
            <li><div id="main3" class="jumbotron" style="background:url(~/images/slide3.jpg); background-position:center; background-size:cover;">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div></li>
            <li><div id="main4" class="jumbotron" style="background:url(~/images/slide4.jpg); background-position:center; background-size:cover;">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div></li>
    </ul>
    <div style="text-align:center; min-width:150px">
        <ul class="pagination"><li onmouseover="MouseOn(0)" onmouseout="MouseOff()" id="slide0" class="active"><a href="javascript:;"></a></li></ul>
        <ul class="pagination"><li onmouseover="MouseOn(1)" onmouseout="MouseOff()" id="slide1"><a href="javascript:;"></a></li></ul>
        <ul class="pagination"><li onmouseover="MouseOn(2)" onmouseout="MouseOff()" id="slide2"><a href="javascript:;"></a></li></ul>
        <ul class="pagination"><li onmouseover="MouseOn(3)" onmouseout="MouseOff()" id="slide3"><a href="javascript:;"></a></li></ul>
        <ul class="pagination"><li onmouseover="MouseOn(4)" onmouseout="MouseOff()" id="slide4"><a href="javascript:;"></a></li></ul>
    </div>
    <div class="bs-docs-section" id="loadTables">
    </div>
</div>
